luxurystay/soap-service/availability.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AvailabilityService"
    targetNamespace="http://luxurystay.com/availability"
    xmlns:tns="http://luxurystay.com/availability"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="http://luxurystay.com/availability">
            <xsd:element name="CheckAvailabilityRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="startDate" type="xsd:date"/>
                        <xsd:element name="endDate" type="xsd:date"/>
                        <xsd:element name="roomType" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="CheckAvailabilityResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="rooms" type="tns:Rooms"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="Rooms">
                <xsd:sequence>
                    <xsd:element name="room" type="tns:Room" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Room">
                <xsd:sequence>
                    <xsd:element name="roomId" type="xsd:int"/>
                    <xsd:element name="roomType" type="xsd:string"/>
                    <xsd:element name="availableDate" type="xsd:date"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </types>

    <message name="CheckAvailabilityRequest">
        <part name="parameters" element="tns:CheckAvailabilityRequest"/>
    </message>
    <message name="CheckAvailabilityResponse">
        <part name="parameters" element="tns:CheckAvailabilityResponse"/>
    </message>

    <portType name="AvailabilityPortType">
        <operation name="CheckAvailability">
            <input message="tns:CheckAvailabilityRequest"/>
            <output message="tns:CheckAvailabilityResponse"/>
        </operation>
    </portType>

    <binding name="AvailabilityBinding" type="tns:AvailabilityPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CheckAvailability">
            <soap:operation soapAction="http://luxurystay.com/availability/CheckAvailability"/>
            <input>
                <soap:body use="literal" namespace="http://luxurystay.com/availability"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://luxurystay.com/availability"/>
            </output>
        </operation>
    </binding>

    <service name="AvailabilityService">
        <documentation>Servicio de disponibilidad de habitaciones</documentation>
        <port name="AvailabilityPort" binding="tns:AvailabilityBinding">
            <soap:address location="http://localhost:8085/ws"/>
        </port>
    </service>
</definitions>
